<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>750544181377-r99bd4s7mktlikh95e3ilr12uk0ljb6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750544181377-r99bd4s7mktlikh95e3ilr12uk0ljb6j</string>
	<key>API_KEY</key>
	<string>AIzaSyCw4bmohgE39naf5cs8i0H82OeD7WLQjcU</string>
	<key>GCM_SENDER_ID</key>
	<string>750544181377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conicoin.conicoinwallet</string>
	<key>PROJECT_ID</key>
	<string>conicoin-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>conicoin-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750544181377:ios:ed7a5738cc9063c1</string>
	<key>DATABASE_URL</key>
	<string>https://conicoin-wallet.firebaseio.com</string>
</dict>
</plist>